* {
	text-align: center;
}
body{
	background-color: #E8B92D;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
}

.jumbotron {
	background-color: #f5f5f5;
}

